<!DOCTYPE html>
<html>
<head>
    <title>Food Shop</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Available Food Items</h1>
    <ul>
        {% for item in items %}
            <li>
                <div class="name"><strong>{{ item.name }}</strong></div>
                <div class="price">Ksh {{ item.price }}</div>
                <div class="description">{{ item.description }}</div>
            </li>
        {% empty %}
            <li>No items available.</li>
        {% endfor %}
    </ul>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
